/* General styles for all devices */
.content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
    color: #7168c6;
    font-weight: 800;
}

.card {
    border: 2px solid;
    padding: 30px;
    border-radius: 10px;
    justify-content: right;
}

.inputForm {
    direction: rtl;
    padding: 10px;
    font-size: 2.3rem;
    border: 4px solid #83827b;
    background-color: #dddbd7;
    color: #6a6864;
    border-radius: 10px;
    display: block;
    margin-bottom: 10px;
}

.submit-button, .delete-button {
    padding: 10px;
    font-size: 2rem;
    margin-right: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.submit-button {
    color: white;
    background-color: #514bd3;
    box-shadow: 5px 5px grey;
    border: none;
}

.delete-button {
    color: #514bd3;
    background-color: white;
    border: none;
}

.word-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* For mobile devices (portrait, max-width: 480px) */
@media (max-width: 480px) {
    .card {
        padding: 20px;
        width: 90%;
    }

    .inputForm {
        margin-left: 0;
        font-size: 1.5rem;
        padding: 8px;
    }

    .submit-button, .delete-button {
        font-size: 1.5rem;
        padding: 8px;
        margin-right: 10px;
    }

    h2 {
        font-size: 1.5rem;
    }
}

/* For tablets and small screens (max-width: 768px) */
@media (max-width: 768px) {
    .card {
        width: 80%;
        padding: 25px;
    }

    .inputForm {
        margin-left: 0;
        font-size: 2rem;
    }

    .submit-button, .delete-button {
        font-size: 1.8rem;
        padding: 9px;
    }

    h2 {
        font-size: 2rem;
    }
}

/* For larger screens (desktops, laptops, min-width: 1024px) */
@media (min-width: 1024px) {
    .card {
        width: 50%;
        padding: 30px;
    }

    .inputForm {
        margin-left: 60px;
    }

    .submit-button, .delete-button {
        font-size: 2rem;
    }

    h2 {
        font-size: 2.5rem;
    }
}
